<p style="color: green"><%= notice %></p>

<% content_for :title, "Tax Rates" %>

<h1>Tax Rates</h1>

<div id="tax_rates">
  <% @tax_rates.each do |tax_rate| %>
    <%= render tax_rate %>
    <p>
      <%= link_to "Show", tax_rate %>
    </p>
  <% end %>
</div>

<%= link_to "New Tax Rate", new_tax_rate_path %>
